.index {
  padding-top: 50px;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .item {
    padding: 32px;
    border: 1px solid #ccc;

    input {
      width: 100%;
      padding: 16px;
      font-size: 16px;
    }
  }
}
